.images-holder{
    position: relative;
    width: 100%;
}
.container{
    position: relative;
}
.col{
    margin-top: 0;
}
li:hover{
    background-color: aliceblue;
    cursor: pointer;
}
.background-image-container{
    margin-top: 14px;
    position: relative;
    left: 0;
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    height: 50vh;
}

.background-image{position: relative;
    object-fit: contain;
}
.cursor-default{
    cursor: auto;
}
.hide-background-opt{
    display: none;
}
.btn-background{
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 0.7em;
    border: none;
    background-color: white;
    border-radius: 50%;
    right: 20px;
    top: -50px;
        
}

.background-menu{
    right: 64px;
    top: -58px;
    position: absolute;
    width: 100px;
    background-color:white;
}
.update-background-container{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3000;
    width: 300px;
}
.upload-image{
    width: 100%;
    text-align: center;
    border-bottom: 1px rgb(116, 116, 116) solid;
}
.upload-image:hover{
    background-color: aliceblue;
}
.upload-background{
    display: none;
}
.form-update-background{
    padding-inline: 40px;
    top:10px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
background-color: rgba(0,0, 0, 0.3);
z-index: 3000;
}
.update-background-btn{
    margin: 5px 0;
    color: white;
border: 3px white solid;
border-radius: 3px;
}
.update-background-btn:hover{
background-color: rgba(34, 34, 34, 0.829);
color: white;
border: black;

}
.scale-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    left: 0;
}
.scale-container svg{
    color: white;
    transform: scale(2);
}
.scale-container svg:hover{
    cursor: pointer;
    color: saddlebrown;
}
.scale-container button{
    z-index: 3000;
    position: relative;
    top: 30px;
    width: 300px;
}
.btn-background svg{
transform: scale(2);
}
.profile-picture-container{
    border: 1px black solid;
    position: absolute;
    min-width: 100px;
    aspect-ratio: 1/1;
    left: 13px;
    border-radius: 50%;
    bottom: -70px;
    background-color: black;
}
.profile-picture-options-container{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    border-radius: 50%;
    height: 30px;
}
.profile-picture-update-button{
    display: flex;
    justify-content: center;
    align-items: center;
width: 100%;
position: absolute;
height: 100%;
border-radius: 50%;
}
.profile-image-container{
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-picture-update-button svg{
    transform: scale(1.2);

}
.profile-picture-update-menu-container{
    position: absolute;
    width: 60px;
    height: 100%;
    right:-55px;
    bottom: -20px;
}
.profile-picture-container label{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    border: 1px black solid;
}
.profile-picture-update-menu-item{
    display: none;
    position: absolute;
    border:1px black solid;
    background-color: white;
    width: 60px;
    bottom: 0;
    height: 100%;
    
}
.profile-picture-update-menu-item:hover{
    background-color: whitesmoke;
}
.user-name{
    white-space: nowrap;
    margin-top: 10px;
margin-left: 60%;
}
.user-profile-image{
    width: 100px;
    height: 100px;
    position: relative;
    object-fit: cover;
    user-select: none;
}
button{
    z-index: 3000;
}