a {
    color: black;
}
a:hover{
    background-color: aliceblue;
}
.card a:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 5px;
}
.svg-container{
    cursor: pointer;

    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    position: relative;
    border-radius: 50%;
    z-index: 555;
}
.svg-container:hover{
    background-color: rgba(244, 244, 244,0.9);
    }

.svg-container svg{
    z-index: 11;
    position: relative;    
    margin: 0;
}
 .svg-span-son{
    background-color: red;
    user-select: none; /* Standard syntax */
    -ms-user-select: none; /* IE10+/Edge */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */

}
img{
    user-select: none; /* Standard syntax */
    -ms-user-select: none; /* IE10+/Edge */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */

}
.number-holder{
    cursor: pointer; user-select: none; /* Standard syntax */
    -ms-user-select: none; /* IE10+/Edge */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */

}
/* .user-link:hover{
    background-color: rgba(0, 0, 0, 0.3);
} */
a:hover{
color: balck;
}
.comment-container{
    
    border-radius: 30px;
    background-color: rgba(242, 242, 242,0.9);
}
.comments-container{
    border-left:rgba(0, 0, 0, 0.3) solid ;
}
.replies-container{
    background-color: white;
    z-index: 1000;
    border-left:rgba(0, 0, 0, 0.3) solid ;
}
.reply-container{
    border-radius: 30px;
    padding: 5px;
    background-color:rgba(196, 196, 196, 0.3)  ;
}
/* .replies-container::before{
    position: absolute;
    content:'s';
    z-index: 1;
    width: 100px;
    height: 100px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;

} */


.left-line{
    z-index: -10;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    border-bottom: 3px rgba(0, 0, 0, 0.3) solid ;
    border-bottom-left-radius: 30px;
    height: 0.5px;
    left: 0;
    transform: translateX(-100%);
}
.comment-form{
    border-radius: 50px;
    border-top-left-radius:0 ;
    border-bottom-right-radius:0 ;
    right: 50%;
    bottom: 10px;
    transform: translateX(50%);
    z-index: 99999;
    padding-inline: 2em;
    padding-top: 1em;
}
.comment-form .btn{
    border: 3px black solid;
    font-weight: 600;
}
