.btn:hover{

    background-color: black;
    color: white;
    border:  white;
}
.container div{
    display: flex;
    flex-direction: column;

align-items: center;
}
.btns-container{
margin-top: 20px;
display: flex;
flex-wrap: nowrap;
flex-direction: row;
width: 100vw;
}