.item-btn{
width: 100%;
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
margin: 0 3px;
font-size: 15px;
align-items: center;
border: none;
background-color: white;
border-bottom: 1px darkgrey solid;

}
.item-btn:hover{
    background-color:aliceblue;
}
.item-btn:focus{
    background-color:lightblue;
}
.items-container{
    border: 1px darkgray solid;
}
.form-container{
    margin-top: 6vh;
    width: 80vw;
}