.container form{
    border: 2px black solid;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
h2{
    margin-inline: 10px;
}
input{
    margin-top: 30px;
}
.btn{
    margin-top: 30px;
    margin-bottom: 30px;
}