
.edited-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    overflow: hidden;
    width: 100%;
background-color: aqua;
    height:50vh;
left: 0;
}
.edited-image{
    
    margin: auto auto;
    position: relative;
    object-fit: cover;
    width: 80%;
    height: 100%;
} 
