.col{
    margin-top: 100px;
   
}
.background-image{
    width: 100%;
    height:60vh;

}
.post{
    height:60vh;

    width: 60%;
}

.edited-image{
    position: relative;
    user-select: none;

   
} 
.btns-container{
    margin-top: 120px;
    width: 50vw;
    border: 2px black solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(214, 214, 214, 0.1);

}
.btn{
    border: 2px black solid;
    border-radius: 6px;
    z-index: 30003;
}
.confirm-btn{
    color: white;
background-color: black;
}
.confirm-btn:hover{
    color: black;
    border: 2px black solid;
    background-color: white;
}
.cancelation-btn{
    background-color: white;
}
.cancelation-btn:hover{
    background-color: black;
    color: white;
    border: none;
}
.scaler-container{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 10%;
    background-color: rgba(210, 210, 210, 0.4);
    top: 70%;
    left: 5vw;
}
.scaler-container svg{
    color: black;
    transform: scale(2);
}
.scaler-container svg:hover{
    cursor: pointer;
    color: saddlebrown;
}
.scaler-container button{
    z-index: 3000;
    position: relative;
    top: 30px;
    width: 300px;
}
.btn-background svg{
transform: scale(2);
}
.cutter-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cutter-container svg{
transform: scale(1.5);
}
.background-image{
    margin-top: 14px;
    position: relative;
    left: 0;
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    height: 50vh;
}
.profile-image{
    border-radius: 50%;
    position: relative;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}