.post-container{
    border-top:1px gray solid;
    border-left:1px gray solid;
    border-right: 1px gray solid;
    
    width: 80vw;
    max-width: 700px;
 object-fit: cover;
 margin-bottom: 40px;
}
.post-header{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
}
.poster-image-container{
    margin-right:10px ;
object-fit: cover;

}
.poster-image{
    display: inline;
    margin-left: 14px;
    width: 50px;
    height: 50px;
}
.poster-image{
    border-radius: 50%;
}
.describtion p{
padding: 2px;
display: inline;
}

.see-more-button{
    border: none;
}
.see-less-button{
    border: none;
    display: inline;
}
.hide{
    display: none;
}

.post-image-container{
width: 300px;
object-fit: contain;
height: 300px;
}
.post-tail{
    padding-inline:15px ;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    border-bottom:2px gray solid ;
}
.post-tail svg{
cursor: pointer;
transform: scale(1.5);
}

.post-tail .clicked-svg{
color: steelblue;
}
.svg-container{
    width: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}